<!DOCTYPE html>
	<html>
		<head>
			<title>Jonathon Baron: {{ page.title }}</title>
			<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
	        		<li><a href="/contact">Contact</a></li>
	        		<li><a href="/cv">CV</a></li>
				<li><a href="/research">Research</a></li>
	        		<!-- <li><a href="/blog">Blog</a></li> -->
	    		</ul>
			</nav>
			<h2>Jonathon Baron</h2>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:jonathon.baron@yale.edu">Email</a></li>
	        		<li><a href="https://github.com/jonathonbaron">GitHub</a></li>
				</ul>
			</footer>
			
			<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-133370800-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-133370800-1');
</script>

		</body>
	</html>
